body{
    background-color: rgb(13, 13, 102);
}
.container{
    margin: 0 auto;
    width: 80%;
}
.main{
    margin-left: 200px;
    margin-top: 100px;
    text-align: center;
    background-color: #fff;
    width: 60%;
    height: 300px;
    border-radius: 9px;

}
.main input{
    margin-top: 100px;
    width: 300px;
    height: 70px;
    border: none;
    border-bottom: 4px solid #f89807; 
    outline: none;
    font-size: 1.5rem;
    font-weight: 30;
    text-transform: capitalize;
    
}
.main button{
    background-color: rgb(126, 35, 123);
    border-radius: 3px;
    border-color: rgb(112, 2, 112);
    width: 150px;
    height: 50px;
    font-size: 1rem;
    font-weight: 30;
    color: #fff;
    cursor: pointer;
    border-style: none;
}
button:hover{
    background-color: rgb(181, 118, 245);
}
.result{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:30px;
    font-size: 1.6rem;
    font-weight: 50;
    padding: 10px;
}
